[package]
name = "pallet-network-membership"
description = 'Manage network membership.'
version = "0.8.1"
authors = ['Dhiway Networks <info@dhiway.com>']
edition = '2021'
license = "GPL-3.0"
homepage = "https://cord.network"
repository = "https://github.com/dhiway/cord"


[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/dhiway/substrate", branch = "release-v0.9.43" }

[dev-dependencies]
cord-utilities = { package = "cord-utilities", path = "../../utilities", features = [
	"mock",
] }
pallet-balances = { git = "https://github.com/dhiway/substrate", branch = "release-v0.9.43", features = [
	"std",
] }
sp-core = { git = "https://github.com/dhiway/substrate", branch = "release-v0.9.43", features = [
	"std",
] }
sp-keystore = { git = "https://github.com/dhiway/substrate", branch = "release-v0.9.43", features = [
	"std",
] }
frame-benchmarking = { git = "https://github.com/dhiway/substrate", features = [
	"std",
], branch = "release-v0.9.43" }
env_logger = "0.9.0"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.4.0", default-features = false, features = [
	"derive",
] }
scale-info = { version = "2.5.0", default-features = false, features = [
	"derive",
] }
serde = { version = "1.0.137", default-features = false, optional = true }
cord-primitives = { package = "cord-primitives", path = "../../primitives/cord", default-features = false }
network-membership = { package = "network-membership", path = "../../primitives/network-membership", default-features = false }
cord-utilities = { package = "cord-utilities", path = "../../utilities", default-features = false }
log = { version = "0.4.17", default-features = false }


# Substrate dependencies
frame-system = { git = "https://github.com/dhiway/substrate", default-features = false, branch = "release-v0.9.43" }
frame-support = { git = "https://github.com/dhiway/substrate", default-features = false, branch = "release-v0.9.43" }
sp-runtime = { git = "https://github.com/dhiway/substrate", default-features = false, branch = "release-v0.9.43" }
sp-std = { git = "https://github.com/dhiway/substrate", default-features = false, branch = "release-v0.9.43" }
sp-core = { git = "https://github.com/dhiway/substrate", default-features = false, optional = true, branch = "release-v0.9.43" }
sp-io = { git = "https://github.com/dhiway/substrate", default-features = false, optional = true, branch = "release-v0.9.43" }

frame-benchmarking = { git = "https://github.com/dhiway/substrate", branch = "release-v0.9.43", default-features = false, optional = true }
pallet-balances = { git = "https://github.com/dhiway/substrate", branch = "release-v0.9.43", default-features = false, optional = true }
sp-keystore = { git = "https://github.com/dhiway/substrate", branch = "release-v0.9.43", default-features = false, optional = true }

[features]
default = ['std']
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
	"cord-utilities/runtime-benchmarks",
]
std = [
	"codec/std",
	"scale-info/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-balances/std",
	"frame-benchmarking?/std",
	"cord-primitives/std",
	"network-membership/std",
	"cord-utilities/std",
	"sp-runtime/std",
	"sp-core/std",
	"sp-keystore/std",
	"sp-io/std",
	"sp-std/std",
	"serde",
	"log/std",
]
